


#login-form {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#login-form h2{
  text-align: center;
}

#login-form label {
  display: block;
  margin-bottom: 10px;
}

#login-form input[type="email"], #login-form input[type="password"] {
  width: 95%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#login-form input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login-form input[type="submit"]:hover {
  background-color: #3e8e41;
}

#registro {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#registro label {
  display: block;
  margin-bottom: 10px;
}

#registro input[type="text"], #registro input[type="email"], #registro input[type="password"], #registro input[type="date"], #registro input[type="tel"] {
  width: 95%;
  height: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#registro input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#registro input[type="submit"]:hover {
  background-color: #3e8e41;
}

*{
  text-decoration: none;
}


.body{
  margin: 0px;
  height: 100%;
  background-color: rgba(240, 248, 255, 0.733);
}

.menu_Completo{
  height: 100%;
  width: 100%;
  padding-bottom: 100%;
  display: flex;
}

.menu_Lateral{
  background-color: black;
  height: 100%;
  width: 200px;
  align-items: center;
  position: fixed;
  z-index: 2;
}
.menu_Title{
  justify-content: center;
}
.menu_Title h1{
  color: white;
  text-align: center;
}
.menu_Navegacion ul{
  padding-inline-start: 0px;
  list-style-type: none;
}
.menu_Navegacion ul li{
  padding-top: 10px;
  text-align: center;
}
.menu_Navegacion ul li a{
  color: white;
}
.menu_Navegacion ul li a:hover{
  color: rgb(58, 136, 58);
  text-decoration-line: underline;
}
.menu_Center{
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: aliceblue;
  text-align: justify;
  padding-left: 900px;
  padding-top: 350px;
  animation-duration: 1s;
  animation-name: slidein;
} 
@keyframes slidein {
  from {
    margin-left: 3%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


